<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SqlBackup.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source =.;Initial Catalog=skolife;Integrated Security=True;</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>c:\!activities\</value>
            </setting>
            <setting name="StartDateTime" serializeAs="String">
                <value>17:20:00</value>
            </setting>
            <setting name="ExecuteEveryTime" serializeAs="String">
                <value>23:00:00</value>
            </setting>
        </SqlBackup.Properties.Settings>
    </userSettings>
</configuration>